n8n/relances-quotidiennes.json
{
  "name": "HABILITATION - Relances quotidiennes",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 8 * * *"
            }
          ]
        }
      },
      "id": "node-cron",
      "name": "Cron 08h00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://formations.alex-worksmart.com/api/internal/reminders/due",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-get-due",
      "name": "GET reminders/due",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_HABILITATION_CRED_ID",
          "name": "Habilitation Internal Secret"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Transforme la reponse {items: [...], skipped: [...]} en N items individuels\n// enrichis avec subject + html + text adaptes au type de relance.\n\nconst SUBJECTS = {\n  j_minus_90: 'Renouvellement a prevoir',\n  j_minus_30: 'Renouvellement urgent',\n  j_minus_7: 'Renouvellement TRES urgent (J-7)',\n  never_received: 'Document a transmettre',\n};\n\nconst INTROS = {\n  j_minus_90: (libelle, days) => `Ton document <strong>${libelle}</strong> arrive a expiration dans <strong>${days} jours</strong>.`,\n  j_minus_30: (libelle, days) => `Ton document <strong>${libelle}</strong> expire dans <strong>${days} jours</strong>. Merci de le renouveler rapidement.`,\n  j_minus_7: (libelle, days) => `<strong>Action urgente</strong> : ton document <strong>${libelle}</strong> expire dans <strong>${days} jours</strong>.`,\n  never_received: (libelle) => `Nous n'avons pas encore recu ton document <strong>${libelle}</strong>. Merci de nous le transmettre.`,\n};\n\nconst response = $input.first().json;\nconst items = response.items || [];\n\nconst out = items.map((item) => {\n  const subject = `${SUBJECTS[item.type] || 'Document'} : ${item.document_type_libelle}`;\n  const intro = (INTROS[item.type] || INTROS.never_received)(item.document_type_libelle, item.days_until_expiry);\n\n  const html = `<!DOCTYPE html>\n<html lang=\"fr\"><head><meta charset=\"utf-8\"></head>\n<body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 24px; color: #1A190F; background: #FAFAF7;\">\n  <h2 style=\"color: #2C6126; font-family: monospace;\">Habilitation a renouveler - Montpellier Depannage</h2>\n  <p>Bonjour ${item.driver_prenom},</p>\n  <p>${intro}</p>\n  <p>Pour mettre a jour ton dossier, merci d'envoyer le document via le lien securise ci-dessous :</p>\n  <p style=\"text-align: center; margin: 32px 0;\">\n    <a href=\"${item.magic_link}\" style=\"background: #2C6126; color: #ffffff; padding: 14px 28px; text-decoration: none; border-radius: 4px; display: inline-block; font-weight: bold;\">Envoyer mon document</a>\n  </p>\n  <p style=\"color: #6B6B5E; font-size: 13px;\">\n    Lien valable 7 jours.<br>\n    Si le bouton ne fonctionne pas, copie ce lien dans ton navigateur :<br>\n    <span style=\"word-break: break-all; color: #2C6126;\">${item.magic_link}</span>\n  </p>\n  <hr style=\"border: none; border-top: 1px solid #D3D1C7; margin: 32px 0;\">\n  <p style=\"color: #6B6B5E; font-size: 12px;\">Email automatique - Montpellier Depannage</p>\n</body></html>`;\n\n  const text = `Bonjour ${item.driver_prenom},\\n\\n${item.document_type_libelle} : ${item.type === 'never_received' ? 'document non recu' : `expire dans ${item.days_until_expiry} jours`}.\\n\\nLien securise (valable 7 jours) :\\n${item.magic_link}\\n\\n-- Montpellier Depannage`;\n\n  return {\n    json: {\n      reminder_id: item.reminder_id,\n      type: item.type,\n      driver_email: item.driver_email,\n      driver_prenom: item.driver_prenom,\n      driver_nom: item.driver_nom,\n      document_type_libelle: item.document_type_libelle,\n      subject,\n      html,\n      text,\n    },\n  };\n});\n\nreturn out;"
      },
      "id": "node-prepare",
      "name": "Prepare emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  from: 'Habilitations 1MDP <habilitations@test.montpellierdepannage.com>',\n  to: [$json.driver_email],\n  subject: $json.subject,\n  html: $json.html,\n  text: $json.text\n}) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-send-resend",
      "name": "Send via Resend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_RESEND_CRED_ID",
          "name": "Resend API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Collecte tous les reminder_id des envois reussis (Resend renvoie 200/201).\n// On accede au reminder_id via l'item original (pas la reponse Resend).\nconst allItems = $input.all();\nconst reminder_ids = allItems\n  .map((it) => it.json.reminder_id || it.json.id)\n  .filter(Boolean);\n\nreturn [{ json: { reminder_ids } }];"
      },
      "id": "node-collect",
      "name": "Collect reminder_ids",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://formations.alex-worksmart.com/api/internal/reminders/mark-sent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ reminder_ids: $json.reminder_ids }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-mark-sent",
      "name": "POST mark-sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_HABILITATION_CRED_ID",
          "name": "Habilitation Internal Secret"
        }
      }
    }
  ],
  "connections": {
    "Cron 08h00": {
      "main": [[{ "node": "GET reminders/due", "type": "main", "index": 0 }]]
    },
    "GET reminders/due": {
      "main": [[{ "node": "Prepare emails", "type": "main", "index": 0 }]]
    },
    "Prepare emails": {
      "main": [[{ "node": "Send via Resend", "type": "main", "index": 0 }]]
    },
    "Send via Resend": {
      "main": [[{ "node": "Collect reminder_ids", "type": "main", "index": 0 }]]
    },
    "Collect reminder_ids": {
      "main": [[{ "node": "POST mark-sent", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [],
  "pinData": {},
  "versionId": "1"
}
